<!DOCTYPE html>


<link rel="stylesheet" href="/css/login.css">

<body>
    
  <p id="spacer"></p>
  <div class="blackBoard">
    <div class="loginBoard animated fadeInDown">
      <div class="loginSpacer"></div>

      <p id="medium">Welcome to AcciDental!</p>
      <p id="little">Please log in.</p>


      <form id="login_form" action="/login" method="post">
        <p id="input"><input type="text" name="email" placeholder="Email"></p>
          
        <p id="input"><input type="password" name="password" placeholder="Password"></p>
      
        <p class="button"><input type="submit" value="Log in"></p>
      </form>

      <p id="large"></p>
      <p>Don't have an account yet?  Create one!</p>
      <button class="button" id="reg_button"><input type="submit" value="Sign up"></button>
    </div> 
  </div>
</body>
