<form action="/appointments" method="get">
  <input type="submit" value="Cancel">
</form>

<p>Please enter the following information to apply for an appointment.</p>

<form action="/make_apt" method="post">
  <input type="text" name="procedure" placeholder="Procedure">
  <input type="text" name="date" placeholder="Date">
  <input type="text" name="time_start" placeholder="Start time">
  <input type="text" name="time_end" placeholder="End time">
  <input type="text" name="doctor_name" placeholder="Name of Doctor" value="Jennifer Wang">
  <input type="submit" value="Register!">
</form>

<p>Here are your currently scheduled appointments.</p>
<%= erb :appointment_list %>
