
<div class="topBoard">
  <button class="top_button animated fadeInDown" id="logout_button"><input type="submit" value=" Log out "></button>

</div>
  <!-- <img src="http://www.businessinsider.com/image/4f3433986bb3f7b67a00003c/cute-cat.jpg" id="avatar"> -->
<div class="avatarBoard animated fadeInDown">
  <img src="<%=current_user.avatar%>" id="avatar">
</div>

<div class="blackBoard">
  <p id="half_spacer"></p>
  <div class="aptBoard animated fadeInDown">

    <p id="little_center">Welcome back, <%= current_user.name %>!  Here are your scheduled appointments.
    </p>

    <p id="center">
      <button class="button" id="make_apt_button"><input type="submit" value="Schedule appointment"></button>
    </p>

    <p id="quarter_spacer"></p>
    <%= erb :appointment_list %>
  </div>
</div>