<form action="/logout" method="post">
  <input type="submit" value="Log out">
</form>
<form action="/make_apt" method="get">
  <input type="submit" value="Schedule appointment">
</form>

<p>Welcome back, <%= current_user.name %>!  Here are your scheduled appointments.</p>

<%= erb :appointment_list %>
